# データの確認

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

In [ ]:
# データベースに接続
db_path = r"c:\Users\kengo\Desktop\Bayesian_changepoint_detection\data\browser_log.db"
conn = sqlite3.connect(db_path)

# 2つ目のDBをアタッチ
# conn.execute(f"ATTACH DATABASE '{second_db_path}' AS master")

# テーブル名を設定
table_name = "browserlog_201902"  # 抽出したいテーブル名

# SQL文を実行
query = f"""
SELECT 
    sample_id,
    COUNT(*) as count
FROM {table_name}
GROUP BY sample_id
"""

# 結果を取得
df = pd.read_sql_query(query, conn)

# 接続を閉じる
conn.close()

In [32]:
# 結果を表示
display(df)
# print(df)

      sample_id  count
0      41p50ABL   2587
1      41p50OKL    345
2      41p510EL   3398
3      41p51dYL      2
4      41p51lBL   1543
...         ...    ...
49570  wv5nyEG4   2431
49571  wv5nyVe4    704
49572  wv5nynx4    962
49573  wv5nzDK4    101
49574  wv5nzo24   3920

[49575 rows x 2 columns]